* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  line-height: 1.6;
  color: #333;
}

h1 {
  font-size: 2.5em;
  color: #971504;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  color: #a41818;
  margin-bottom: 20px;
  border-bottom: 2px solid #962222;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.4em;
  color: #3e3939;
  margin-bottom: 10px;
}

p {
  color: #545050;
  line-height: 1.5;
  margin-bottom: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #ffffff;
}

#header {
  background-color: #423535;
  padding: 40px 20px;
}

.logo {
  width: 350;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7a0c0c;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn:hover {
  color: rgb(0, 0, 0);
  background-color: #ffd6d6;
}

.btn:active {
  transform: scale(0.2);
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.intro {
  font-size: 1em;
  color: #5b6b64;
  font-style: italic;
}

.suggest ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.container ul {
  list-style: none;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 250px;
  background-color: #e6b7b7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card:first-child {
  border-left: 5px solid #9f1717;
}

.card:nth-child(2) {
  border-left: 5px solid #9f1717;
}

.card:last-child {
  border-left: 5px solid #9f1717;
}

.about {
  margin-bottom: 40px;
}

.management .team {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.management figure {
  text-align: center;
}

.management img {
  border-radius: 8px;
  margin-bottom: 10px;
}

.vision ul {
  margin-left: 50px;
  margin-bottom: 20px;
}
.vision li {
  margin-bottom: 5px;
}

.title {
  color: #781818;
}

#footer {
  background-color: #222;
  color: #f8eeee;
  text-align: center;
  padding: 20px;
}
